<h1>NEW</h1>
<form action="/users/create" method="post">
    <input type="text" name="username" placeholder="UserName"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="register" />
</form>
